.main {
	display: flex;
	align-items: stretch;
	width: 100%;
	margin-bottom: 40px;

	.left__box {
		display: flex;
		flex-basis: 50%;
		flex-direction: row;
		align-items: center;
		text-align: center;
		min-height: 560px;
		border-right: 1px solid $yellow;
	}

	.right__box {
		display: flex;
		flex-basis: 50%;
		flex-direction: row;
		align-items: center;
		text-align: center;
		width: 100%;
		height: 100%;
		min-height: 560px;
		padding: 70px 60px;
	}
}

.left__link--scrool,
.right__link--scrool {
	display: block;
}

.left__photo--border {
	position: relative;
	display: flex;
	width: 100%;
	max-width: 420px;
	min-height: 420px;
	margin: auto;
	z-index: 1;

	&::before {
		content: "";
		position: absolute;
		@include square(100px);
		border: 1px solid $yellow;
		z-index: 0;
		border-right: none;
		border-bottom: none;
	}

	&::after {
		content: "";
		position: absolute;
		@include square(100px);
		border: 1px solid $yellow;
		right: 0;
		z-index: 0;
		border-left: none;
		border-bottom: none;
	}
}

.left__photo--border2 {
	display: flex;
	width: 100%;
	height: 100%;
	max-width: 420px;
	min-height: 420px;
	margin: auto;
	padding: 16px;

	&::before {
		content: "";
		position: absolute;
		@include square(100px);
		border: 1px solid $yellow;
		bottom: 0;
		left: 0;
		z-index: 0;
		border-right: none;
		border-top: none;
	}

	&::after {
		content: "";
		position: absolute;
		@include square(100px);
		border: 1px solid $yellow;
		right: 0;
		bottom: 0;
		z-index: 0;
		border-left: none;
		border-top: none;
	}
}

.left__photo--place {
	font-size: 0;
	display: block;
	position: relative;
	width: 100%;
	border: 1px solid $yellow;
	margin: auto;
	padding-top: 99.5%;
	z-index: 2;

	img {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		object-fit: cover;
		width: 100%;
		height: 100%;
		z-index: 3; 
	}
}

.rb__content {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	text-align: center;
}

.rb__title {
	position: relative;
	display: block;
	width: 100%;
	font-size: $big-size;
	letter-spacing: 1px;
	line-height: 65px;
	color: $middle-grey;
	font-family: $title-font;
	font-weight: 900;
	margin-bottom: 15px;
	text-transform: capitalize;
}

.rb__line--title {
	display: inline-block;
	border: 0.5px solid $yellow;
	width: 100px;
	margin-bottom: 30px;
}

.rb__subtitle {
	display: block;
	width: 100%;
	text-transform: capitalize;
	font-size: $large-size;
	color: $middle-grey;
	font-family: $text-font;
	font-weight: 400;
	margin-bottom: 25px;
}

.rb__list--icon {
	display: flex;
	justify-content: space-between;
	font-size: $small-size;
	margin-bottom: 30px;

	.rb__list--item {
		display: inline-block;
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}

	.rb__list--link {
		display: flex;
		justify-content: center;
		@include square(30px);
		border-radius: 50%;
		align-items: center;
		border: 2px solid $light-grey;
		text-decoration: none;
		transition: all .2s ease;
		color: $light-grey;

		&:hover {
			border-color: $yellow;
			color: $yellow;
		}
	}
}

.rb__text {
	position: relative;
	display: inline-block;
	width: 100%;
	font-size: $small-size;
	line-height: $large-size;
	color: $black;
	font-family: $text-font;
	font-weight: 500;
	margin-bottom: 18px;
}

.rb__line {
	position: relative;
	display: block;
	width: 20px;
	background-color: $yellow;
	margin-bottom: 18px;
	height: 4px;

	&:before,
	&:after {
		position: absolute;
		display: block;
		content: "";
		width: 10px;
		border: 2px solid $yellow;
		background-color: $yellow;
	}

	&:before {
		right: 25px;
	}

	&:after {
		left: 25px;
	}
}

input[type="button"] {
	display: inline-block;
	text-transform: uppercase;
	height: 25px;
	width: 100%;
	max-width: 120px;
	font-size: $small-size;
	line-height: 22px;
	color: $middle-grey;
	font-family: $btn-font;
	font-weight: 700;
	background-color: transparent;
	border: 1px solid $yellow;
	transition: all .2s ease;

	&:hover {
		cursor: pointer;
		background-color: $yellow;
		color: $white;
	}
}

.right__link--scrool,
.left__link--scrool {
	position: relative;
	display: block;
	@include square(30px);
}

.left__link--scrool::before {
	position: absolute;
	content: "";
	@include square(17px);
	border: 2px solid $yellow;
	transform: rotate(45deg);
	right: 15%;
	top: 15%;
	border-right: none;
	border-top: none;
	transition: all .2s ease;
	border-radius: 15%;	
}

.left__link--scrool:hover::before {
	cursor: pointer;
	border: 5px solid $yellow;
	transition: all .4s ease;
	border-right: none;
	border-top: none;
	border-radius: 20%;
}

.right__link--scrool::after {
	position: absolute;
	content: "";
	@include square(17px);
	border: 2px solid $yellow;
	transform: rotate(45deg);
	right: 15%;
	top: 15%;
	border-left: none;
	border-bottom: none;
	transition: all .2s ease;
	border-radius: 15%;	
}

.right__link--scrool:hover::after {
	cursor: pointer;
	border: 5px solid $yellow;
	transition: all .4s ease;
	border-left: none;
	border-bottom: none;
	border-radius: 20%;
}

.footer {
	display: flex;
	justify-content: center;
}

.slick__list {
	display: flex;

	.active {
		background-color: white;
	} 
}

.slick__item {
	list-style: none;
	margin-right: 5px;

	&:last-child {
		margin-right: 0;
	}
}

.slick__link {
	display: flex;
	justify-content: center;
	align-items: center;
	@include square(12px);
	border: 2px solid $yellow;
	background-color: $yellow;
	border-radius: 50%;
	text-decoration: none;

	&:hover {
		cursor: pointer;
		background-color: $white;
		transition: background-color .2s ease;
	}
}



