* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	height: 100vh;
	font-family: $main-font;
}

body {
	font-size: 100%;
	background-color: $bg-color;
}

select {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

