//FONTS
@font-face {
	font-family: "HansKendrick-Regular";
	src: local("HansKendrick-Regular"), url("https://nomail.com.ua/files/woff/215d663ec607e25b1aac95fe9b0a5e72.woff") format("woff");
}

//fonts
$main-font: 'HansKendrick-Regular', sans-serif;

// SIZES
$container-width: 1120px;

@function px_to_rem($target, $context: $base-size) {
  @if $target == 0 { @return 0 }
  @return $target / $context + 0rem;
}

$base-size: 16px;
$middle-size: px_to_rem(13px);
$large-size: px_to_rem(22px);
$big-size: px_to_rem(30px);

//COLORS
$bg-color: #e2e7ec;

$white-color: #ffffff;
$black-color: #1d1d1d;
$grey-color: #818181;

