<!-- FIRST-SCREEN START -->
<section class="first-screen" id="home">
  <%- include('top-menu'); -%>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 mb-4">
        <h2 class="first-screen__title">creative digital project</h2>
      </div>
      <div class=" col-12 col-sm-8">
        <h3 class="first-screen__subtitle">Duis mollis, est non commodo luctus, <br>nisi erat porttitor ligula, eget lacinia odio sem nec elit.</h3>
      </div>
    </div>
  </div>
</section>
<!-- FIRST-SCREEN END -->