<!-- MEET-OUR-TEAM START -->
<section class="meet-our-team">
	<div class="container">
		<div class="row justify-content-center mb-2 mb-lg-5">
			<div class="col-12 mb-2 mb-lg-4">
				<a class="meet-our-team__icon--link" href="/">
					<img class="meet-our-team__icon--img" src="img/meet-our-team-icon.png" alt="icon">
				</a>
			</div>
			<div class="col-12">
				<h2 class="meet-our-team__title">meet our team</h2>
			</div>
		</div>
	</div>
	<!-- MEET-OUR-TEAM-OWL-CAROUSEL START -->
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- OWL-CAROUSEL ITEMS START -->
				<div class="meet-our-team-carousel owl-carousel owl-theme m-0">
					<!-- OWL-CAROUSEL CARD-1 START -->
					<div class="meet-our-team-carousel__card">
						<div class="meet-our-team-carousel__wrapper">
							<img class="meet-our-team-carousel__foto" src="img/Miguel-Obrien.jpg" alt="foto">
						</div>
						<div class="meet-our-team-carousel__description">
							<h4 class="meet-our-team-carousel__title">miguel obrien</h4>
							<p class="meet-our-team-carousel__subtitle">CEO & Founder</p>
						</div>
						<div class="meet-our-team-carousel__social-menu">
							<ul class="meet-our-team-carousel__social-menu--list">
								<li class="meet-our-team-carousel__social-menu--item d-none">
									<a href="#" class="meet-our-team-carousel__social-menu--link" target="_blanc">
										<i class="fab fa-behance"></i>
									</a>
								</li>
								<li class="meet-our-team-carousel__social-menu--item">
									<a href="#" class="meet-our-team-carousel__social-menu--link" target="_blanc">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</li>
								<li class="meet-our-team-carousel__social-menu--item">
									<a href="#" class="meet-our-team-carousel__social-menu--link" target="_blanc">
										<i class="fab fa-google-plus-g"></i>
									</a>
								</li>
								<li class="meet-our-team-carousel__social-menu--item">
									<a href="#" class="meet-our-team-carousel__social-menu--link" target="_blanc">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li class="meet-our-team-carousel__social-menu--item">
									<a href="#" class="meet-our-team-carousel__social-menu--link" target="_blanc">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- OWL-CAROUSEL CARD-1 END -->
					<!-- OWL-CAROUSEL CARD-2 START -->
					<div class="meet-our-team-carousel__card">
						<div class="meet-our-team-carousel__wrapper">
							<img class="meet-our-team-carousel__foto" src="img/Jackie-Carroll.jpg" alt="foto">
						</div>
						<div class="meet-our-team-carousel__description">
							<h4 class="meet-our-team-carousel__title">jackie carroll</h4>
							<p class="meet-our-team-carousel__subtitle">Art Director</p>
						</div>
						<div class="meet-our-team-carousel__social-menu">
							<ul class="meet-our-team-carousel__social-menu--list">
								<li class="meet-our-team-carousel__social-menu--item">
									<a href="#" class="meet-our-team-carousel__social-menu--link" target="_blanc">
										<i class="fab fa-behance"></i>
									</a>
								</li>
								<li class="meet-our-team-carousel__social-menu--item">
									<a href="#" class="meet-our-team-carousel__social-menu--link" target="_blanc">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</li>
								<li class="meet-our-team-carousel__social-menu--item">
									<a href="#" class="meet-our-team-carousel__social-menu--link" target="_blanc">
										<i class="fab fa-google-plus-g"></i>
									</a>
								</li>
								<li class="meet-our-team-carousel__social-menu--item">
									<a href="#" class="meet-our-team-carousel__social-menu--link" target="_blanc">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li class="meet-our-team-carousel__social-menu--item">
									<a href="#" class="meet-our-team-carousel__social-menu--link" target="_blanc">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- OWL-CAROUSEL CARD-2 END -->
					<!-- OWL-CAROUSEL CARD-3 START -->
					<div class="meet-our-team-carousel__card">
						<div class="meet-our-team-carousel__wrapper">
							<img class="meet-our-team-carousel__foto" src="img/Ida-Morrison.jpg" alt="foto">
						</div>
						<div class="meet-our-team-carousel__description">
							<h4 class="meet-our-team-carousel__title">ida morrison</h4>
							<p class="meet-our-team-carousel__subtitle">Designer</p>
						</div>
						<div class="meet-our-team-carousel__social-menu">
							<ul class="meet-our-team-carousel__social-menu--list">
								<li class="meet-our-team-carousel__social-menu--item">
									<a href="#" class="meet-our-team-carousel__social-menu--link" target="_blanc">
										<i class="fab fa-behance"></i>
									</a>
								</li>
								<li class="meet-our-team-carousel__social-menu--item">
									<a href="#" class="meet-our-team-carousel__social-menu--link" target="_blanc">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</li>
								<li class="meet-our-team-carousel__social-menu--item">
									<a href="#" class="meet-our-team-carousel__social-menu--link" target="_blanc">
										<i class="fab fa-google-plus-g"></i>
									</a>
								</li>
								<li class="meet-our-team-carousel__social-menu--item">
									<a href="#" class="meet-our-team-carousel__social-menu--link" target="_blanc">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li class="meet-our-team-carousel__social-menu--item">
									<a href="#" class="meet-our-team-carousel__social-menu--link" target="_blanc">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- OWL-CAROUSEL CARD-3 END -->
				</div>
				<!-- OWL-CAROUSEL ITEMS END -->
			</div>
		</div>
	</div>
	<!-- MEET-OUR-TEAM-OWL-CAROUSEL END -->
</section>
<!-- MEET-OUR-TEAM END -->