<!-- OUR-SERVICES START -->
<section class="our-services" id="services">
  <div class="container">
    <div class="row">
      <!-- CARDS START -->
      <div class="col-12 col-md-8">
        <!-- BIG CARD START -->
        <div class="row">
         <div class="col-12 col-md-4 p-md-0 d-md-none px-0">
          <div class="our-services__card our-services__card--big">
            <a href="#services" class="our-services__card--icon">
              <img src="img/our-services-our-services.png" alt="icon">
            </a>
            <h3 class="our-services__card--title our-services__card--title--big">our services</h3>
            <p class="our-services__card--description our-services__card--description--big">
              “Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue.”
              <span class="bold-text">- Borat -</span>
            </p>
          </div>
        </div>
        <!-- BIG CARD END -->
        <!-- graphic design CARD START -->
        <div class="col-12 col-md-6 p-md-0">
          <div class="our-services__card our-services__card--grey">
            <a href="#services" class="our-services__card--icon">
              <img src="img/our-services-graphic-design.png" alt="icon">
            </a>
            <h3 class="our-services__card--title">graphic design</h3>
            <p class="our-services__card--description">Cras mattis consectetur purus sit amet fermentum.</p>
          </div>
        </div>
        <!-- graphic design CARD END -->
        <!-- web development CARD START -->
        <div class="col-12 col-md-6 p-md-0">
          <div class="our-services__card">
            <a href="#services" class="our-services__card--icon">
              <img src="img/our-services-web-development.png" alt="icon">
            </a>
            <h3 class="our-services__card--title">web development</h3>
            <p class="our-services__card--description">Cras mattis consectetur purus sit amet fermentum.</p>
          </div>
        </div>
        <!-- web development CARD END -->
        <!-- seo & marketing CARD START -->
        <div class="col-12 col-md-6 p-md-0">
          <div class="our-services__card">
            <a href="#services" class="our-services__card--icon">
              <img src="img/our-services-seo-marketing.png" alt="icon">
            </a>
            <h3 class="our-services__card--title">seo & marketing</h3>
            <p class="our-services__card--description">Cras mattis consectetur purus sit amet fermentum.</p>
          </div>
        </div>
        <!-- seo & marketing CARD END -->
        <!-- mobile development CARD START -->
        <div class="col-12 col-md-6 p-md-0">
          <div class="our-services__card  our-services__card--grey">
            <a href="#services" class="our-services__card--icon">
              <img src="img/our-services-mobile-development.png" alt="icon">
            </a>
            <h3 class="our-services__card--title">mobile development</h3>
            <p class="our-services__card--description">Cras mattis consectetur purus sit amet fermentum.</p>
          </div>
        </div>
        <!-- mobile development CARD END -->
      </div>
      <!-- CARDS END -->
    </div>
    <!-- BIG CARD START -->
    <div class="col-12 col-md-4 p-md-0 d-none d-md-block">
      <div class="our-services__card our-services__card--big">
        <a href="#services" class="our-services__card--icon">
          <img src="img/our-services-our-services.png" alt="icon">
        </a>
        <h3 class="our-services__card--title our-services__card--title--big">our services</h3>
        <p class="our-services__card--description our-services__card--description--big">
          “Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue.”
          <span class="bold-text">- Borat -</span>
        </p>
      </div>
    </div>
    <!-- BIG CARD END -->
  </div>
</div>
</section>
<!-- OUR-SERVICES END -->