<!-- RECENT-WORKS START -->
<section class="recent-works" id="works">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 mb-4">
        <a class="recent-works__icon--link" href="/">
          <img class="recent-works__icon--img" src="img/recent-works-icon.png" alt="icon">
        </a>
      </div>
      <div class="col-12 margin-bottom__title">
        <h2 class="recent-works__title">recent works</h2>
      </div>
    </div>
  </div>
  <!-- RECENT-WORKS-OWL-CAROUSEL START -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="recent-works-carousel owl-carousel owl-theme m-0">
          <div class="recent-works-carousel__item">
            <img src="img/recent-works-item.jpg" alt="item" class="recent-works-carousel__img">
          </div>
          <div class="recent-works-carousel__item">
            <img src="img/recent-works-item.jpg" alt="item" class="recent-works-carousel__img">
          </div>
          <div class="recent-works-carousel__item">
            <img src="img/recent-works-item.jpg" alt="item" class="recent-works-carousel__img">
          </div>
          <div class="recent-works-carousel__item">
            <img src="img/recent-works-item.jpg" alt="item" class="recent-works-carousel__img">
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <a href="#works" class="button">view gallery</a>
    </div>
  </div>
  <!-- RECENT-WORKS-OWL-CAROUSEL END -->
</section>
<!-- RECENT-WORKS END -->