<div class="container">
	<div class="row">
		<div class="product-card">
			<header class="product-card__header">
				<ul class="tabs">
					<li class="tabs__item active" data-target="information">
						<a href="#" class="tabs__link">
							//= svg/tooltip.html
							information
						</a>
					</li>
					<li class="tabs__item" data-target="rating">
						<a href="#" class="tabs__link">
							//= svg/card.html
							rating info
						</a>
					</li>
					<li class="tabs__item" data-target="buy">
						<a href="#" class="tabs__link">
							//= svg/tooltip.html
							where to buy
						</a>
					</li>
				</ul>
			</header>
				//= information.html
				//= rating.html
				//= buy.html
		</div>
		<!-- /.product-card -->
	</div>
	<!-- /.row -->
</div>
<!-- /.container -->