<section class="product-card__body card visible" data-content="information">
	<div class="card-img">
		<div class="img-wrapper">
			<img src="img/game.jpg">
		</div>
		<ul class="rating">
			<li class="rating__item active">
				//= svg/star.html
			</li>
			<li class="rating__item active">
				//= svg/star.html
			</li>
			<li class="rating__item active">
				//= svg/star.html
			</li>
			<li class="rating__item active">
				//= svg/star.html
			</li>
			<li class="rating__item">
				//= svg/star.html
			</li>
		</ul>
	</div>

	<div class="card-info">
		<div class="card-info__top">
			<div class="card-info__title">
				<h2>FarCry 4</h2>
				<span class="card-info__subtitle">First Released Nov 17, 2014</span>
			</div>

			<div class="card-info__rate">
				<span>6.5</span>
			</div>
		</div>

		<p class="card-info__middle">
			In Far Cry 4, players find themselves in Kyrat, a breathtaking, perilous and wild region of the Hima layas struggling under the regime of a despotic self-appointed king.
		</p>

		<div class="card-info__bottom">
			<div class="card-info__price">
				<span class="card-info__discount">
					20% off
				</span>
				$59.96
			</div>
			<button class="card-info__btn">buy it now</button>
		</div>
	</div>
</section>