@font-face {
 font-family: "Open Sans";
 src: url("../fonts/OpenSans-Bold.ttf") format("ttf");
}

@font-face {
 font-family: "Open Sans";
 src: url("../fonts/OpenSans-Bold.ttf") format("ttf");
}

.bold {
	
}

* {
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
}

body {
	font-size: 100%;
	background-color: black;
	color: white;
}