* {
	margin: 0;
	padding: 0;
}

body {
	background: #8daee8;
}

.board {
	margin-top: 10%;
	width: 100%;
	max-width: 400px;
	margin: auto;
	border: 2px solid black;
}

ul {
	position: relative;
	width: 100%;
	min-height: 50px;

	li {
		position: absolute;
		width: 50px;
		height: 50px;
	}
}

.item__1,
.item__3,
.item__5,
.item__7 {

	li:nth-child(1) {
		left: 0px;
		background: white;
	}

	li:nth-child(2) {
		left: 50px;
		background: black;
	}

	li:nth-child(3) {
		left: 100px;
		background: white;
	}

	li:nth-child(4) {
		left: 150px;
		background: black;
	}

	li:nth-child(5) {
		left: 200px;
		background: white;
	}

	li:nth-child(6) {
		left: 250px;
		background: black;
	}

	li:nth-child(7) {
		left: 300px;
		background: white;
	}

	li:nth-child(8) {
		left: 350px;
		background: black;
	}
}

.item__2,
.item__4,
.item__6,
.item__8 {
	li:nth-child(1) {
		left: 0px;
		background: black;
	}

	li:nth-child(2) {
		left: 50px;
		background: white;
	}

	li:nth-child(3) {
		left: 100px;
		background: black;
	}

	li:nth-child(4) {
		left: 150px;
		background: white;
	}

	li:nth-child(5) {
		left: 200px;
		background: black;
	}

	li:nth-child(6) {
		left: 250px;
		background: white;
	}

	li:nth-child(7) {
		left: 300px;
		background: black;
	}

	li:nth-child(8) {
		left: 350px;
		background: white;
	}
}