<!-- ABOUT-US START -->
<section class="about-us" id="about-us">
	<div class="container pt-3 pb-3 pt-lg-5">
		<div class="row">
			<div class="col-12 mb-2 d-flex justify-content-center text-align-center">
				<h2 class="about-us--title m-0 d-flex"><span class="about-us--uppercase mr-2 d-flex">about</span>us</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12 mb-3 d-flex justify-content-center">
				<p class="about-us--subtitle m-0 d-flex justify-content-center">Aliquam dapibus massa diam, eu porta ipsum mollis vel. Etiam blandit auctor porta.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 d-flex justify-content-center">
				<p class="about-us--description m-0 d-flex">Phasellus eu malesuada neque, ut scelerisque nisl. Sed laoreet libero eget orci lobortis, convallis mattis metus porttitor. Nunc tempor nunc ac urna tincidunt, quis placerat nisl suscipit. Mauris viverra gravida metus, ac auctor purus convallis in.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6">
				<ul class="about-us-menu m-0" start="1">
					<li class="about-us-menu--item d-flex flex-column mb-3">
						<span class="about-us-menu--icon">
							<i class="fas fa-eye"></i>
						</span>
						<p class="about-us-menu--paragraph m-0 d-flex">1. Lorem ipsum</p>
						<span class="about-us-menu--description d-flex m-0">Ut porttitor quam nec risus ultricies efficitur. Pellentesque sagittis sed magna scelerisque consectetur.</span>
					</li>
					<li class="about-us-menu--item d-flex flex-column mb-3">
						<span class="about-us-menu--icon">
							<i class="fas fa-paint-brush"></i>
						</span>
						<p class="about-us-menu--paragraph m-0 d-flex">2. Lorem ipsum</p>
						<span class="about-us-menu--description d-flex m-0">Ut porttitor quam nec risus ultricies efficitur. Pellentesque sagittis sed magna scelerisque consectetur.</span>
					</li>
					<li class="about-us-menu--item d-flex flex-column">
						<span class="about-us-menu--icon">
							<i class="fas fa-heart"></i>
						</span>
						<p class="about-us-menu--paragraph m-0 d-flex">3. Lorem ipsum</p>
						<span class="about-us-menu--description d-flex m-0">Ut porttitor quam nec risus ultricies efficitur. Pellentesque sagittis sed magna scelerisque consectetur.</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="row d-flex justify-content-center justify-content-lg-start text-align-center">
			<div class="col-7 col-md-4 col-lg-3 col-xl-2">
				<a class="about-us--download d-block" href="#">download</a>
			</div>
		</div>
	</div>
</section>
<!-- ABOUT-US END-->