<!-- HEADER START -->
<header class="header">
	<div class="header-top-line mb-lg-5">
		<!-- CONTAINER HEADER-TOP START -->
		<div class="container">
			<div class="row d-flex justify-content-around justify-content-xl-between">
				<div class="col-12 col-lg-2 mb-3 mb-lg-0">
					<!-- HEADER__TOP-LEFT START -->
					<div class="header__top-left d-flex justify-content-center justify-content-lg-between">
						<ul class="left__social-menu d-flex m-0 pt-3 pb-3 pr-lg-3 pt-lg-3 pb-lg-3 justify-content-between">
							<li class="left__social-menu--item mr-lg-3">
								<a href="#" class="left__social-menu--link d-flex align-items-center" target="_blank">
									<i class="fab fa-facebook-square"></i>
								</a>
							</li>
							<li class="left__social-menu--item mr-lg-3">
								<a href="#" class="left__social-menu--link d-flex align-items-center" target="_blank">
									<i class="fab fa-linkedin-in"></i>
								</a>
							</li>
							<li class="left__social-menu--item mr-lg-3">
								<a href="#" class="left__social-menu--link d-flex align-items-center" target="_blank">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li class="left__social-menu--item">
								<a href="#" class="left__social-menu--link d-flex align-items-center" target="_blank">
									<i class="fab fa-google-plus"></i>
								</a>
							</li>
						</ul>
					</div>
					<!-- HEADER__TOP-LEFT END -->
				</div>
				<div class="col-12 col-lg-5 mb-3 mb-lg-0">
					<!-- HEADER__TOP-RIGHT START -->
					<div class="header__top-right d-flex justify-content-center justify-content-lg-between">
						<ul class="right__social-menu d-flex m-0 p-0 pl-lg-3 pt-lg-3 pb-lg-3 flex-wrap flex-md-nowrap">
							<li class="right__social-menu--item d-flex m-0 p-0 mr-md-3 align-items-center">
								<p class="right__social-menu--contact d-flex m-0">E-mail:<a href="mailto:info@example.com" class="right__social-menu--link d-flex ml-1 ml-lg-2" target="_blank">info@example.com</a></p>
							</li>
							<li class="right__social-menu--item d-flex m-0 p-0 align-items-center"> 
								<p class="right__social-menu--contact d-flex m-0">Phone:<a href="tel:+0012345678" class="right__social-menu--link d-flex ml-1 ml-lg-2" target="_blank">+0012345678</a></p>
							</li>
						</ul>
					</div>
					<!-- HEADER__TOP-RIGHT END -->
				</div>
			</div>
		</div>
		<!-- CONTAINER HEADER-TOP END -->
	</div>
	<!-- CONTAINER HEADER-TITLE+NAVIGATION START -->
	<div class="container">
		<div class="row">
			<div class="col-12 d-flex justify-content-center mb-3">
				<h1 class="logo__title d-flex m-0">amethyst</h1>
			</div>
		</div>
		<div class="row d-flex justify-content-center">
			<div class="col-12 col-lg-8 d-flex justify-content-center">
				<div class="header__nav">
					<ul class="header__nav-menu p-0 m-0 d-flex justify-content-around justify-content-md-between flex-wrap align-items-center">
						<li class="header__nav-menu--item pr-2 pl-2">
							<a href="#about-us" class="header__nav-menu--link d-flex">about</a>
						</li>
						<li class="header__nav-menu--item pr-2 pl-2">
							<a href="#works" class="header__nav-menu--link d-flex">works</a>
						</li>
						<li class="header__nav-menu--item pr-2 pl-2">
							<a href="#" class="header__nav-menu--link d-flex">features</a>
						</li>
						<li class="header__nav-menu--item pr-2 pl-2">
							<a href="#" class="header__nav-menu--link d-flex">team</a>
						</li>
						<li class="header__nav-menu--item pr-2 pl-2">
							<a href="#" class="header__nav-menu--link d-flex">prices</a>
						</li>
						<li class="header__nav-menu--item pr-2 pl-2">
							<a href="#" class="header__nav-menu--link d-flex">blog</a>
						</li>
						<li class="header__nav-menu--item pr-2 pl-2">
							<a href="#" class="header__nav-menu--link d-flex">contact</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- CONTAINER HEADER-TITLE+NAVIGATION END -->
	<!-- CONTAINER HEADER-SLICK-SLIDER--OWL-CAROUSEL START -->
	<div class="container">
		<div class="row">
			<div class="col-12 pt-3 pb-3">
				<div class="header-carousel owl-carousel owl-theme">	
					<div class="header-carousel--item">
						<h2 class="header-carousel--title">amethyst</h2>
						<p class="header-carousel--subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
						<p class="header-carousel--description">Nam auctor arcu ut efficitur blandit. Ut posuere dolor nunc, vitae eleifend est ornare in. Suspendisse luctus scelerisque condimentum. Nam a dui non libero vestibulum convallis sit amet quis lectus. Nam interdum condimentum est, vel varius lorem tincidunt vel. </p>
						<a class="header-carousel--viewmore" href="#">view more</a>
					</div>
					<div class="header-carousel--item">
						<h2 class="header-carousel--title">amethyst</h2>
						<p class="header-carousel--subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
						<p class="header-carousel--description">Nam auctor arcu ut efficitur blandit. Ut posuere dolor nunc, vitae eleifend est ornare in. Suspendisse luctus scelerisque condimentum. Nam a dui non libero vestibulum convallis sit amet quis lectus. Nam interdum condimentum est, vel varius lorem tincidunt vel. </p>
						<a class="header-carousel--viewmore" href="#">view more</a>
					</div>
					<div class="header-carousel--item">
						<h2 class="header-carousel--title">amethyst</h2>
						<p class="header-carousel--subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
						<p class="header-carousel--description">Nam auctor arcu ut efficitur blandit. Ut posuere dolor nunc, vitae eleifend est ornare in. Suspendisse luctus scelerisque condimentum. Nam a dui non libero vestibulum convallis sit amet quis lectus. Nam interdum condimentum est, vel varius lorem tincidunt vel. </p>
						<a class="header-carousel--viewmore" href="#">view more</a>
					</div>
					<div class="header-carousel--item">
						<h2 class="header-carousel--title">amethyst</h2>
						<p class="header-carousel--subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
						<p class="header-carousel--description">Nam auctor arcu ut efficitur blandit. Ut posuere dolor nunc, vitae eleifend est ornare in. Suspendisse luctus scelerisque condimentum. Nam a dui non libero vestibulum convallis sit amet quis lectus. Nam interdum condimentum est, vel varius lorem tincidunt vel. </p>
						<a class="header-carousel--viewmore" href="#">view more</a>
					</div>
					<div class="header-carousel--item">
						<h2 class="header-carousel--title">amethyst</h2>
						<p class="header-carousel--subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
						<p class="header-carousel--description">Nam auctor arcu ut efficitur blandit. Ut posuere dolor nunc, vitae eleifend est ornare in. Suspendisse luctus scelerisque condimentum. Nam a dui non libero vestibulum convallis sit amet quis lectus. Nam interdum condimentum est, vel varius lorem tincidunt vel. </p>
						<a class="header-carousel--viewmore" href="#">view more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- CONTAINER HEADER-SLICK-SLIDER--OWL-CAROUSEL END -->
</header>
<!-- HEDEAR END -->


