 <!-- WORKS START -->
 <section class="works" id="works">
 	<div class="container pt-3 pt-lg-4">
 		<div class="row">
 			<div class="col-12 mb-2 d-flex justify-content-center align-content-center align-items-center">
 				<h2 class="works__title m-0 d-flex">works</h2>
 			</div>
 		</div>
 		<div class="row">
 			<div class="col-12 mb-4 d-flex justify-content-center text-align-center">
 				<p class="works__subtitle m-0 d-flex">Aliquam dapibus massa diam, eu porta ipsum mollis vel. Etiam blandit auctor porta.</p>
 			</div>
 		</div>
 		<div class="row d-flex justify-content-center">
 			<div class="col-12 col-sm-8 col-md-6 col-lg-6 col-xl-4 mb-4">
 				<nav class="works__nav d-flex">
 					<ul class="works__nav--menu m-0 d-flex justify-content-between">
 						<li class="works__nav--item">
 							<a href="#" class="works__nav--link d-block">all</a>
 						</li>
 						<li class="works__nav--item">
 							<a href="#" class="works__nav--link d-block">design</a>
 						</li>
 						<li class="works__nav--item">
 							<a href="#" class="works__nav--link d-block">urban</a>
 						</li>
 						<li class="works__nav--item">
 							<a href="#" class="works__nav--link d-block">posters</a>
 						</li>
 					</ul>
 				</nav>
 			</div>
 		</div>
 	</div>
 	<!-- WORKS IMAGE GALERY START -->
 	//= works-image-gallery.html
 	<!-- WORKS IMAGE GALERY END -->
 </section>
<!-- WORKS END -->