/* Цвет текста в поиске и ссылки при наведениии #ec5a62 */
/* Цвет текста и placeholder'a #c2c2c2 */
/* Фон ссылки rgba (118, 117, 128, 0.005) */
/* Фон ссылки при наведении rgba (118, 117, 128, 0.1) */

* {
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    height: 100%;
}

html, body {
	min-height: 100%;
}

body {
    font-family: Arial, sans-serif;
    font-size: 100%;
    margin-top: 2rem;
    background: #f1f1f1;
    color: #c2c2c2; 
}

ul > li > a {
    text-decoration: none;
    color: #c2c2c2;
    background-color: rgba(118, 117, 128, 0.05);
}

ul > li > a:hover {
    color: #ec5a62;
    background-color: rgba(118, 117, 128, 0.1);
}

/* placeholder */

::-webkit-input-placeholder {
    color: #c2c2c2;
}

::-moz-placeholder {
    color: #c2c2c2;
}

:-ms-input-placeholder {
    color: #c2c2c2;
}

:-moz-placeholder {
    color: #c2c2c2;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
}

.search-form {
    font-size: 0;
    margin-bottom: 4rem;
}

.search-form > * {
    font-size: 6rem;
    display: inline-block;
    border: none;
    background-color: transparent;
    outline: none;
}

.search-form [type="search"] {
    width: calc(100% - 116px);
    font-weight: bold;
    color: #ec5a62;

}

.search-form [type="submit"] {
    width: 112px;
    height: 112px;
    background-image: url('../images/search.svg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    overflow: hidden;

}

.table__title {
    font-weight: 900; 
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.table__item {
    display: inline-block;
    width: 100%;
    min-width: 29%; 
    margin-right: 2rem;
}

.table__item:last-child {
    margin-right: 0;
}

.table__item:first-child .list__img {
    border-radius: 50%;
}

.list__item {
    margin-bottom: .5rem;
}

.list__item:last-child {
    margin-bottom: 0;
}

.list__link {
    line-height: 83px; 
    display: block;
    min-height: 83px;
    padding-left: 15px;
    border-radius: 5px;
}

.list__link > * {
    display: inline-block;
    vertical-align: middle;
}

.list__img {
    margin-right: .5rem;
}

.list__img + * {
    font-weight: bold;
}

.table {
    display: flex;
    justify-content: space-between;
}
